/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.modal {
  box-sizing: border-box;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.3); }
  .modal .modal-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .modal .modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2.4rem;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    border-radius: 4px;
    background-color: white; }
    .modal .modal-content .close-modal {
      position: absolute;
      cursor: pointer;
      right: 10px;
      top: 30px;
      padding: 10px; }

:root {
  font-family: 'Commissioner', sans-serif;
  font-size: 10px;
  --primary: hsl(176, 50%, 47%);
  --secondary: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --gray: #F2F2F2;
  --standard-border: 1px solid #DBDBDB;
  --res-width: 400px;
  --completion-width: 50%; }

h1 {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  margin-bottom: 2.5rem; }
  @media (min-width: 400px) {
    h1 {
      font-size: 2.4rem; } }

h2 {
  color: black;
  font-size: 1.8rem;
  font-weight: bold; }
  @media (min-width: 400px) {
    h2 {
      font-size: 2rem; } }

h3 {
  color: black;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: bold; }
  @media (min-width: 400px) {
    h3 {
      font-size: 1.6rem; } }

h4 {
  color: var(--primary);
  font-size: 1.4rem;
  font-weight: 500; }

strong {
  font-size: 3.6rem;
  color: black;
  font-weight: bold;
  line-height: 5.6rem; }

button {
  display: flex;
  place-items: center;
  height: 56px;
  padding: 0 4rem;
  color: var(--gray);
  background-color: var(--primary);
  border: 1px solid rgba(20, 123, 116, 0.3);
  border-radius: 4rem;
  font: inherit;
  font-weight: bold;
  cursor: pointer; }
  button:hover {
    background-color: var(--secondary); }
  button:focus {
    outline: none; }
  button#bookmark {
    border: none;
    background-color: transparent;
    justify-content: space-between;
    padding: 0;
    color: var(--dark-gray);
    background-color: var(--gray); }
    button#bookmark.active {
      color: var(--secondary); }
      button#bookmark.active svg circle {
        fill: var(--secondary); }
      button#bookmark.active svg path {
        fill: white; }
    button#bookmark.inactive {
      color: var(--dark-gray); }
  button.collapsable .collapse {
    display: none;
    padding: 0 2.5rem 0 1.5rem; }
    @media (min-width: 400px) {
      button.collapsable .collapse {
        display: flex; } }
  button.disabled {
    background-color: var(--dark-gray); }

section {
  box-sizing: border-box;
  background-color: white;
  max-width: 730px;
  width: 100%;
  padding: 3rem 2rem;
  border-radius: 10px;
  border: 1px solid var(--gray);
  margin-bottom: 2.5rem; }
  @media (min-width: 400px) {
    section {
      padding: 4.5rem; } }

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--dark-gray);
  background-color: #FAFAFA;
  padding: 0 2.5rem; }
  body #header-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 18.5rem;
    max-width: 112rem; }
    body #header-main #logo {
      height: 2.5rem; }
    body #header-main #menu-icon {
      height: 2rem;
      width: 2rem; }
      @media (min-width: 400px) {
        body #header-main #menu-icon {
          display: none; } }
    body #header-main nav {
      display: none; }
      body #header-main nav a {
        color: white;
        text-decoration: none;
        margin-left: 3rem; }
        body #header-main nav a:hover {
          text-decoration: underline; }
        body #header-main nav a:first-child {
          margin-left: 0; }
      @media (min-width: 400px) {
        body #header-main nav {
          display: block; } }
    @media (min-width: 400px) {
      body #header-main {
        padding-bottom: 20.3rem; } }
  body #hero-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    body #hero-image::after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), 30%, transparent); }
    @media (min-width: 400px) {
      body #hero-image {
        height: 40rem; } }
  body #intro {
    position: relative;
    padding-top: 5rem; }
    body #intro::before {
      content: url("./images/logo-mastercraft.svg");
      position: absolute;
      top: -28px;
      left: 50%;
      transform: translate(-50%); }
    body #intro header {
      text-align: center; }
    body #intro #options {
      display: flex;
      justify-content: space-between;
      padding-top: 2.5rem; }
  body #statistics ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 400px) {
      body #statistics ul {
        flex-direction: row; } }
    body #statistics ul li {
      text-align: center; }
      body #statistics ul li strong {
        display: block; }
      body #statistics ul li small {
        font-size: 1.4rem; }
      @media (min-width: 400px) {
        body #statistics ul li {
          text-align: left;
          width: 33%; } }
    body #statistics ul hr {
      width: 7.5rem;
      margin-top: 25px;
      border: 1px solid var(--dark-gray); }
      @media (min-width: 400px) {
        body #statistics ul hr {
          width: 0;
          height: 6rem;
          margin: 0 5rem 0 0; } }
  body #statistics #goal-progress {
    margin-top: 30px;
    height: 12px;
    background-color: var(--gray);
    border-radius: 6px; }
    body #statistics #goal-progress::after {
      content: "";
      display: block;
      height: 100%;
      width: var(--completion-width);
      border-radius: 6px;
      background-color: var(--primary); }
  body #rewards {
    padding-top: 4rem; }
    body #rewards p {
      margin-top: 2.5rem; }
    body #rewards #reward-list li {
      border-radius: 4px;
      margin-top: 2rem;
      border: var(--standard-border);
      padding: 2rem; }
      body #rewards #reward-list li:first-child {
        margin-top: 4rem; }
      body #rewards #reward-list li header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-items: flex-start; }
        @media (min-width: 400px) {
          body #rewards #reward-list li header {
            flex-direction: row; } }
        @media (min-width: 400px) {
          body #rewards #reward-list li header {
            align-items: center; } }
      body #rewards #reward-list li footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-items: flex-start;
        margin-top: 3rem; }
        @media (min-width: 400px) {
          body #rewards #reward-list li footer {
            flex-direction: row; } }
        @media (min-width: 400px) {
          body #rewards #reward-list li footer {
            align-items: center; } }
        body #rewards #reward-list li footer button {
          margin-top: 2.5rem; }
          @media (min-width: 400px) {
            body #rewards #reward-list li footer button {
              margin-top: 0; } }
      @media (min-width: 400px) {
        body #rewards #reward-list li {
          padding: 3.5rem; } }
    body #rewards #reward-list .remaining-rewards {
      display: flex;
      align-items: center; }
      body #rewards #reward-list .remaining-rewards strong {
        display: inline-block;
        padding-right: 1rem; }
    body #rewards #reward-list .unavailable {
      opacity: 0.5;
      pointer-events: none; }
  body #back-project .modal-content {
    position: sticky;
    top: 4vh;
    max-height: calc(100% - 100px);
    overflow: hidden; }
    @media (min-width: 400px) {
      body #back-project .modal-content {
        padding: 5rem; } }
    body #back-project .modal-content > h2 {
      margin-bottom: 3rem; }
    body #back-project .modal-content #pledge-list {
      overflow-y: scroll;
      height: 90%;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */ }
      body #back-project .modal-content #pledge-list::-webkit-scrollbar {
        display: none; }
      body #back-project .modal-content #pledge-list li {
        box-sizing: border-box;
        border: var(--standard-border);
        border-radius: 4px;
        margin-top: 3rem;
        max-width: 73rem; }
        body #back-project .modal-content #pledge-list li .top {
          padding: 3.1rem 2.1rem;
          display: flex;
          flex-direction: column; }
          body #back-project .modal-content #pledge-list li .top h3 {
            display: flex;
            margin-bottom: 4rem;
            align-items: center;
            cursor: pointer; }
            body #back-project .modal-content #pledge-list li .top h3 .reward-select {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 12px;
              border: 1px solid #DBDBDB;
              width: 24px;
              height: 24px;
              margin-right: 15px; }
            body #back-project .modal-content #pledge-list li .top h3:hover {
              color: var(--primary); }
              body #back-project .modal-content #pledge-list li .top h3:hover .reward-select {
                border: 1px solid var(--primary); }
          body #back-project .modal-content #pledge-list li .top .remaining-rewards {
            align-items: center; }
            body #back-project .modal-content #pledge-list li .top .remaining-rewards strong {
              display: inline-block;
              margin-right: 3px;
              font-size: 1.4rem; }
          @media (min-width: 400px) {
            body #back-project .modal-content #pledge-list li .top {
              flex-direction: row;
              flex-wrap: wrap;
              padding: 2.1rem 2.1rem; }
              body #back-project .modal-content #pledge-list li .top h3 {
                margin-bottom: 2rem; }
              body #back-project .modal-content #pledge-list li .top h4 {
                flex: 1;
                padding-left: 1.5rem;
                padding-top: 0.2rem; }
              body #back-project .modal-content #pledge-list li .top span {
                order: 4;
                display: block;
                margin-left: 4.1rem; }
              body #back-project .modal-content #pledge-list li .top .remaining-rewards {
                margin-top: 2px; }
                body #back-project .modal-content #pledge-list li .top .remaining-rewards strong {
                  line-height: 100%; } }
        body #back-project .modal-content #pledge-list li .bottom {
          display: none;
          flex-direction: column;
          align-items: center;
          padding: 3.1rem 2.1rem;
          border-top: 2px solid #ECECEC; }
          body #back-project .modal-content #pledge-list li .bottom > div {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 2rem; }
            body #back-project .modal-content #pledge-list li .bottom > div .pledge-amount {
              position: relative;
              width: 60px;
              height: 56px;
              border-radius: 30px;
              border: 1px solid var(--dark-gray);
              padding-left: 4rem;
              display: flex;
              align-items: center; }
              body #back-project .modal-content #pledge-list li .bottom > div .pledge-amount:before {
                content: '$';
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                left: 28px;
                font-size: 1.6rem;
                font-weight: bold; }
              body #back-project .modal-content #pledge-list li .bottom > div .pledge-amount input {
                border: none;
                width: 5rem;
                border-radius: 3rem;
                font: inherit; }
                body #back-project .modal-content #pledge-list li .bottom > div .pledge-amount input:focus {
                  outline: none; }
            body #back-project .modal-content #pledge-list li .bottom > div button {
              width: 115px;
              padding: 0 2.6rem; }
            @media (max-width: 350px) {
              body #back-project .modal-content #pledge-list li .bottom > div {
                justify-content: center; } }
          @media (min-width: 400px) {
            body #back-project .modal-content #pledge-list li .bottom {
              flex-direction: row;
              padding: 2.1rem 2.1rem; }
              body #back-project .modal-content #pledge-list li .bottom h5 {
                width: 100%; }
              body #back-project .modal-content #pledge-list li .bottom > div {
                justify-content: flex-end;
                margin-top: 0; }
                body #back-project .modal-content #pledge-list li .bottom > div button {
                  margin-left: 1.5rem; } }
        body #back-project .modal-content #pledge-list li.active {
          border: 2px solid var(--primary); }
          body #back-project .modal-content #pledge-list li.active .top, body #back-project .modal-content #pledge-list li.active .bottom {
            padding: 3rem 2rem; }
            @media (min-width: 400px) {
              body #back-project .modal-content #pledge-list li.active .top, body #back-project .modal-content #pledge-list li.active .bottom {
                padding: 2rem 2rem; } }
          body #back-project .modal-content #pledge-list li.active .bottom {
            display: flex; }
          body #back-project .modal-content #pledge-list li.active h3 .reward-select::after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            background-color: var(--primary); }
        body #back-project .modal-content #pledge-list li.disabled {
          pointer-events: none;
          opacity: 0.5; }
  body #thanks-modal .modal-content {
    box-sizing: border-box;
    max-width: 540px;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem; }
    body #thanks-modal .modal-content img {
      width: 90px; }
    body #thanks-modal .modal-content h2 {
      margin-top: 45px;
      font-size: 2.4rem;
      text-align: center; }
    body #thanks-modal .modal-content p {
      text-align: center;
      margin-top: 25px; }
    body #thanks-modal .modal-content button {
      margin-top: 30px; }
    @media (max-width: 400px) {
      body #thanks-modal .modal-content {
        padding-left: 2rem;
        padding-right: 2rem; } }
