/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.modal {
  display: none; }

:root {
  font-family: 'Commissioner', sans-serif;
  font-size: 10px;
  --primary: hsl(176, 50%, 47%);
  --secondary: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --gray: #F2F2F2;
  --res-width: 400px; }

h1 {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  margin-bottom: 2.5rem; }
  @media (min-width: 400px) {
    h1 {
      font-size: 2.4rem; } }

h2 {
  color: black;
  font-size: 1.8rem;
  font-weight: bold; }
  @media (min-width: 400px) {
    h2 {
      font-size: 2rem; } }

h3 {
  color: black;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: bold; }
  @media (min-width: 400px) {
    h3 {
      font-size: 1.6rem; } }

h4 {
  color: var(--primary);
  font-size: 1.4rem;
  font-weight: 500; }

strong {
  font-size: 3.6rem;
  color: black;
  font-weight: bold;
  line-height: 5.6rem; }

button {
  display: flex;
  place-items: center;
  height: 56px;
  padding: 0 4rem;
  color: var(--gray);
  background-color: var(--primary);
  border: 1px solid rgba(20, 123, 116, 0.3);
  border-radius: 4rem;
  font: inherit;
  font-weight: bold;
  cursor: pointer; }
  button:hover {
    background-color: var(--secondary); }
  button.bookmark {
    border: none;
    background-color: transparent;
    justify-content: space-between;
    padding: 0;
    background-color: var(--gray); }
    button.bookmark.active {
      color: var(--secondary); }
      button.bookmark.active svg circle {
        fill: var(--secondary); }
      button.bookmark.active svg path {
        fill: white; }
    button.bookmark.inactive {
      color: var(--dark-gray); }
  button.collapsable .collapse {
    display: none;
    padding: 0 2.5rem 0 1.5rem; }
    @media (min-width: 400px) {
      button.collapsable .collapse {
        display: flex; } }
  button.disabled {
    background-color: var(--dark-gray); }

section {
  box-sizing: border-box;
  background-color: white;
  max-width: 730px;
  width: 100%;
  padding: 3rem 2rem;
  border-radius: 10px;
  border: 1px solid var(--gray);
  margin-bottom: 2.5rem; }
  @media (min-width: 400px) {
    section {
      padding: 4.5rem; } }

.responsive {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .responsive.mobile-flex-start {
    align-items: flex-start; }
    @media (min-width: 400px) {
      .responsive.mobile-flex-start {
        align-items: center; } }
  @media (min-width: 400px) {
    .responsive {
      flex-direction: row; } }

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--dark-gray);
  background-color: #FAFAFA;
  padding: 0 2.5rem; }
  body #header-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 18.5rem;
    max-width: 112rem; }
    body #header-main #logo {
      height: 2.5rem; }
    body #header-main #menu-icon {
      height: 2rem;
      width: 2rem; }
      @media (min-width: 400px) {
        body #header-main #menu-icon {
          display: none; } }
    body #header-main nav {
      display: none; }
      body #header-main nav a {
        color: white;
        text-decoration: none;
        margin-left: 3rem; }
        body #header-main nav a:hover {
          text-decoration: underline; }
        body #header-main nav a:first-child {
          margin-left: 0; }
      @media (min-width: 400px) {
        body #header-main nav {
          display: block; } }
    @media (min-width: 400px) {
      body #header-main {
        padding-bottom: 20.3rem; } }
  body #hero-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    body #hero-image::after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), 30%, transparent); }
    @media (min-width: 400px) {
      body #hero-image {
        height: 40rem; } }
  body #intro {
    position: relative;
    padding-top: 5rem; }
    body #intro::before {
      content: url("./images/logo-mastercraft.svg");
      position: absolute;
      top: -28px;
      left: 50%;
      transform: translate(-50%); }
    body #intro header {
      text-align: center; }
    body #intro #options {
      display: flex;
      justify-content: space-between;
      padding-top: 2.5rem; }
  body #statistics ul li {
    text-align: center; }
    body #statistics ul li strong {
      display: block; }
    body #statistics ul li small {
      font-size: 1.4rem; }
    @media (min-width: 400px) {
      body #statistics ul li {
        text-align: left;
        width: 33%; } }
  body #statistics ul hr {
    width: 7.5rem;
    margin-top: 25px;
    border: 1px solid var(--dark-gray); }
    @media (min-width: 400px) {
      body #statistics ul hr {
        width: 0;
        height: 6rem;
        margin: 0 5rem 0 0; } }
  body #statistics #goal-progress {
    margin-top: 30px;
    height: 12px;
    background-color: var(--gray);
    border-radius: 6px; }
    body #statistics #goal-progress::after {
      content: "";
      display: block;
      height: 100%;
      width: 50%;
      border-radius: 6px;
      background-color: var(--primary); }
  body #rewards {
    padding-top: 4rem; }
    body #rewards p {
      margin-top: 2.5rem; }
    body #rewards #reward-list {
      margin-top: 4rem; }
      body #rewards #reward-list section {
        padding: 2rem; }
        @media (min-width: 400px) {
          body #rewards #reward-list section {
            padding: 3.5rem; } }
      body #rewards #reward-list .remaining-rewards {
        display: flex;
        align-items: center; }
        body #rewards #reward-list .remaining-rewards strong {
          display: inline-block;
          padding-right: 1rem; }
      body #rewards #reward-list footer {
        margin-top: 3rem; }
        body #rewards #reward-list footer button {
          margin-top: 2.5rem; }
          @media (min-width: 400px) {
            body #rewards #reward-list footer button {
              margin-top: 0; } }
      body #rewards #reward-list .unavailable {
        opacity: 0.5;
        pointer-events: none; }
